* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header-hat {
    width: 1200px;
    height: 30px;
    background-color: #383230;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.header-hat-content {
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
}

.header-hat-link-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.header-hat-link {
    text-decoration: none;
    color: #fff;
}

.header-hat-logo-string {
    width: 1200px;
    height: 61px;
    background-color: #fefdfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.nav-list {
    display: flex;
    gap: 20px;
}

ul.nav-list > li > a,
div.header-hat-logo-string-links > a.header-hat-logo-string-links-element {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #383230;
}

.header-hat-logo-string-links {
    display: flex;
    justify-content: space-between;
    gap: 23px;
}

li::marker {
    content: none;
}

h1 {
    width: 1200px;
    height: 236px;
    background-color: #f9f7f4;
    align-content: center;
    text-align: center;
    font-family: "EB Garamond", sans-serif;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.07em;
    color: #000;
}